<div class="tab" data-group="primary" data-tab="notes">
  <div class="full-width-field">
    <label for="system.languages" style="font-weight: bold;">{{localize "wh3e.actor.languages"}}</label>
    <input id="system.languages" name="system.languages" type="text" value="{{system.languages}}" data-dtype="String" />
  </div>
  <div class="actor-notes">
    <label for="system.notes" style="font-weight: bold;">{{localize "wh3e.actor.notes"}}</label>
    {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
  </div>
</div>