<h3 style="color: dark{{rollResultColour}};">{{toHitHeader}}</h3>
{{> "systems/whitehack3e/templates/chat/partials/roll-results.hbs"}}
<br />
{{#if damageHeader}}
<h3>{{damageHeader}}</h3>
{{/if}}
{{{damageTemplate}}}