<div class="dice-roll">
  {{#if flavor}}
  <div class="dice-flavor">{{flavor}}</div>
  {{/if}}
</div>
<h2>Attack roll</h2>
{{{toHitTemplate}}}
<br />
{{#if attackHit}}
<h2>Damage roll</h2>
{{{damageTemplate}}}
{{/if}}