<div class="wh3e game-license">
  <p class="wh3e game-license">
    This unofficial system requires Whitehack, &copy;2013&ndash;2021 Christian Mehrstam. You can find it <a
       href="https://whitehackrpg.wordpress.com">here</a>.
  </p>
  <p>
    Whitehack is an RPG trademark through established use, owned by Christian Mehrstam. This third party product is
    unaffiliated. The Whitehack name is used with permission.
  </p>
  <p>
    Report your issues on <a href="https://github.com/hellbrandt/foundryvtt-whitehack-3e">GitHub</a>
  </p>
</div>