<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    {{> "systems/wh3e/templates/partials/character-header.hbs"}}
    <p>Monster</p>
  </header>

  <div class="sheet-content">
    {{> "systems/wh3e/templates/partials/character-stats.hbs"}}
    {{> "systems/wh3e/templates/partials/weapon-info.hbs"}}
  </div>
</form>