<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>
  <div>
    <table>
      <tr>
        <th>{{localize "wh3e.weapon.damage"}}</th>
        <th>{{localize "wh3e.weapon.weight"}}</th>
        <th>{{localize "wh3e.weapon.range"}}</th>
        <th>{{localize "wh3e.weapon.rateOfFire"}}</th>
        <th>{{localize "wh3e.weapon.cost"}}</th>
      </tr>
      <tr>
        <td>
          <select id="data.damage" name="data.damage">
            {{#select data.damage}}
            {{#each config.damageDice as |name dice|}}
            <option value="{{dice}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
        <td>
          <select id="data.weight" name="data.weight">
            {{#select data.weight}}
            {{#each config.weightTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
        <td>
          <input name="data.range" type="text" value={{data.range}} data-dtype="Number" />
        </td>
        <td>
          <select id="data.rateOfFire" name="data.rateOfFire">
            {{#select data.rateOfFire}}
            {{#each config.roFShotsPerRound as |name shots|}}
            <option value="{{shots}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </td>
        <td>
          <input name="data.cost" type="text" value={{data.cost}} data-dtype="Number" />
        </td>
      </tr>
    </table>
    <div style="margin-bottom: 10px;">
      <label for="data.special" style="font-weight: bold;">{{localize "wh3e.weapon.special"}}</label>
      <input id="data.special" name="data.special" type="text" value="{{data.special}}" data-dtype="String" />
    </div>
    <div>
      <label for="data.description" style="font-weight: bold;">{{localize "wh3e.weapon.description"}}</label>
      <textarea name="data.description">{{data.description}}</textarea>
    </div>
  </div>
</form>
