@c-white: #fff;
@c-black: #000;
@c-grey: #ddd;
@input-height: 26px;
@big-input-height: 32px;
@item-controls-width: 10%;
@item-controls-min-width: 60px;
@item-image-width: 6%;
@item-image-min-width: 34px;
@wh-readonly: #e9e9e3;
