.dialog {
  label {
    font-weight: bold;
  }

  .dialog-buttons {
    button {
      background-color: rgba(255, 255, 240, 0.8);
    }
  }

  .flex-group-center {
    padding-left: 0;
    padding-right: 0;
  }
}
