.wh3e.sheet form {
  .sheet-header {
    img {
      border: none;
    }
  }

  input {
    background: @c-white;
    border-width: 2px;
    height: @input-height;
    font-size: 1.1em;
  }

  .sheet-content,
  .sheet-content .tab .editor {
    height: 100%;
  }

  nav.sheet-tabs {
    flex: 0;
    position: absolute;
    transform: rotate(90deg);
    top: 365px;
    right: -169px;
    width: 320px;
    border-top: none;
    height: 18px;
    z-index: -1;

    .item {
      padding: 1px 10px 0;
      margin-left: -5px;
      text-indent: 4px;
      line-height: 16px;
      background: url("/ui/parchment.jpg");
      border-top-right-radius: 4px;
      border-top-left-radius: 80px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.9);
      font-size: 12px;
      filter: brightness(0.9);

      &.active {
        filter: none;
        z-index: 1;
        font-weight: bold;
        text-shadow: none;
        margin-bottom: -1px;
        text-decoration: underline;
      }
    }
  }
}
