// Fixed header table
.fixed_header {
  width: 584px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.2);
  tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 260px;
  }

  thead tr {
    display: block;
  }

  tr {
    &:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  th,
  td {
    padding: 5px;
    text-align: center;
    &:first-child {
      padding-left: 5px;
    }
  }
}

.abilities .fixed_header {
  .fixed_header_styles(262px);
  .ability-name-column {
    width: 344px;
  }
  .ability-type-column {
    width: 120px;
  }
}

.gear .fixed_header {
  .fixed_header_styles(232px);
  .gear-name-column {
    width: 374px;
  }
  .gear-weight-column {
    width: 90px;
  }
}

.weapons .fixed_header {
  .fixed_header_styles(93px);
}
