// .window-app {
//   .window-content {
//     overflow: hidden;
//   }
// }

.window-app {
  .window-content {
    overflow-y: initial;
    overflow-x: initial;
    background: url("../assets/ui/old-worn-paper.jpg");
  }
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
  .fa-dice {
    opacity: 50%;
  }
}

.window-resizable-handle {
  visibility: hidden;
}

.sheet {
  .character {
    min-width: 600px;
    min-height: 550px;
  }
}
